body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.menu {
    background-color: #6A5ACD;
    overflow: auto;
    font-size: 20px;
}

.menu a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #191970;
}

.top_rated {
  height: 3px;
}

.overlay {
    padding: 200px 20%;
    background-color: rgba(0,0,0,0.4);
}

.description {
    background-color: #E6E6FA;
    background-image: url(description.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 25px;
}

.introduction {
  background-color: #FFFFFF;
  padding: 100px 35%;
  text-align: center;
}

.statistics {
    border: solid 1px #6A5ACD;
    margin: 50px auto;
    font-size: 20px;
}

.team {
    text-align: center;
    height: 400px;
    margin: 0 auto;
    width: 1000px;
}

.teamMember {
  width: 200px;
  padding: 10px;
  border: solid 1px #6A5ACD;
  margin: 10px;
  text-align: center;
  float: left;
}

.face {
  padding: 30% 0%;
  margin: 5% 20%;
  background-image: url(team/davide_liu.jpg);
  background-size: cover;
}

.footer {
  background-color: #2F4F4F;
  padding: 10px;
  text-align: center;
  color: #FFFFFF;
}
