body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.menu {
    background-color: #6A5ACD;
    overflow: auto;
    font-size: 20px;
}

.menu a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #191970;
}

.top_rated {
  height: 3px;
}

.overlay {
    padding: 200px 20%;
    background-color: rgba(0,0,0,0.4);
}

.description {
    background-color: #E6E6FA;
    background-image: url(description.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 25px;
}

.introduction {
  background-color: #E6E6FA;
  padding: 100px 35%;
  text-align: center;
}

.footer {
  background-color: #2F4F4F;
  padding: 10px;
  text-align: left;
  color: #FFFFFF;
}
