.img-magnifier-container {
 position: relative;
 margin 0;
 padding: 0;
} 

.img-magnifier-glass {
  visibility: hidden;
  position: absolute;
  z-index: 3;
  border: 3px solid #000;
  cursor: none;
  width: 10em;
  height: 10em;
  margin 0;
  padding: 0;
}

#artworkTitle {
 margin-top: 0.5em;
 margin-bottom: 0.5em;
 text-align: center;
 font-weight: bold;
 font-size: 200%;
}

#imageContainer {
	float: left;
    padding: auto;
	background-color: #f7f7f7;
    width: 100%;
    height: 37em;
    max-height: 37em;
	width: 70%;
    display: table-cell;
}

#description-comments {
float: left;
display: table-cell;
background-color: #f7f7f7;
padding: 0.5em;
height: 35em;
width: 30%;
height: 37em;
max-height: 37em;
}

#imageAndCommentSection {
display: table;
/*overflow: hidden;*/
padding: 0em;
width: 100%;
height: 100%;
max-height: 35em;
}

#myimage {
margin: auto;
display: block;
max-height: 100%;
max-width: 100%;
}

#commentSection {
margin-top: 0.2em;
overflow-y: auto;
padding-top: 0.2em;
background-color: #f7f7f7;
border-radius: 0.5em;
display: block;
/*height: 35em;*/
max-height: 35em;
}

#main-description
{
font-style: italic;
margin-bottom: 0.5em;
}

.commentator
 {
 	border-radius: 0.5em;
 	padding-bottom: 0.5em;
 	font-weight: bold;
 }
 
.comment
{
	background-color: #eaeaea;
	/*border: 2px solid #636363;*/
 	border-radius: 0.5em;
 	padding: 0.5em;
}

textarea[name=input-comment]
{
  resize: vertical;
  margin: 0;
  width: 100%;
}

 @media screen and (max-width: 1024px) {
	#imageAndCommentSection {
		max-height: 100%;
        max-width: 100%;
    	width: 100%;
        height: 100%;
		margin: 0;
	}
    
    #description-comments
    {
    	max-height: 100%;
        max-width: 100%;
    	width: 100%;
        height: auto;
        display: block;
        margin: 0;
        margin-top: 1%;
    }
    
    #imageContainer
    {
    	display:block;
        margin:0;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: auto;
    }
    
    #myimage
    {
    	max-width: 100%;
        max-height: 100%;
    	height: 100%;
    	width: 100%;
	}
    
    #commentSection {
    margin: 0;
    }
}
