/* -------- Stile per il pulsante di ricerca libera (Start) --------- */

.inputSearch input[type=text]{
    padding: 1em;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #dddddd2b;
    margin: 0;
}

.inputSearch button{
    float: left;
    width: 20%;
    padding: 1em;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    background-image: url("../Images/magnifying-glass.png");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding-bottom: 2.15em;
}

.divCategoryFilter{
    margin: 1em 0;
}

div.divCategoryButtons{
    display: inline-block;
    width: auto;
}

div.divCategoryButtons::after, div.divCategoryButtons::before{
    content: "";
    display: table;
    clear: both;
}

div.divCategoryButtons button{
    display: inline-block;
    color: #333;
    height: 3em;
    width: 7em;
    text-align: center;
    margin-right: 0.5em;
    background-color: #f8f8f8;
    cursor: pointer;
    margin-bottom: 0.8em;
    float: left;
}

.divCategoryButtons .active{
    background-color: #44778F;
    color: #fcfefd;
}

.inputSearch::after{
    content: '';
    clear: both;
    display: table;
}
/* -------- Stile per il pulsante di ricerca libera (End)--------- */

#gallery{
    width: 90%;
    max-width: 1200px;
    margin: 4vh auto;
}

#galleryBoard .galleryFigureWrapper{
    background: whitesmoke;
    margin: 0 0 3em;
    box-shadow: 0em 0.1em 0.5em rgba(0,0,0,0.2);
    position: relative;
}

#galleryBoard .galleryCaption{
    padding: 1em;
}

#galleryBoard img{
    max-width: 100%;
    display: block;
    height: 20em;
    width: 100%;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

#galleryBoard ul{
    margin: 0;
    padding: 0;
}

.wrapper{
    height: 3.2em;
}

.like-btn{
    cursor: pointer;
    width: 2.2em;
    /*position: absolute;
    bottom: 4.5em;
    right: 0.2em;
    */
    float: left;
    height: 2.0em;
    z-index: 1;
    background: url(../Images/like.svg) no-repeat;
    background-size: 100% 100%;
}

.like-btn-added{
    background: url(../Images/like-inserted.svg) no-repeat;
}

#artFilter{
    padding: 1em 0 0 0;
    margin: 1em 1em 2em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow: auto;
}

.titleImageOfGallery{
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    float: left;
    width: 85%;
    max-width: 100%;
}

#galleryBoard li{
    list-style-type: none;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

@media screen and (min-width:400px){
    #galleryBoard li{
        width: 50%;
    }

    #galleryBoard li:nth-of-type(2n+1){
        clear: left;
    }
}

@media screen and (min-width: 768px){
    #galleryBoard li{
        width: 33.3333%;
    }

    #galleryBoard li:nth-of-type(2n+1) {
        clear: none;
    }
    
    #galleryBoard li:nth-of-type(3n+1) {
        clear: left;
    }
}

@media screen and (min-width: 1024px){
    #galleryBoard li{
        width: 25%;
    }

    #galleryBoard li:nth-of-type(3n+1) {
        clear: none;
    }
    
    #galleryBoard li:nth-of-type(4n+1) {
        clear: left;
    }
}

/* Pagination ..........---------------*/
.div-bar:before, .div-bar:after{
    content: "";
    display: table;
    clear: both;
}
.div-center {
    text-align: center!important;
}
.div-center .div-bar {
    display: inline-block;
    width: auto;
}
.gal-pag-border {
    border: 1px solid #ccc!important;
}
.gal-border-round{
    border-radius: 4px;
}
.div-bar {
    width: 100%;
    overflow: hidden;
}
.div-bar .gal-pag-button {
    white-space: normal;
}
.div-bar .div-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
.gal-pag-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.gal-pag-button:hover {
    color: #000!important;
    background-color: #ccc!important;
}
.gal-pag-button {
    border: none;
    display: inline-block;
    padding: 0.2em 0.4em;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.btnPaginationActive{
    color: #fff!important;
    background-color: #44778F!important;
}
.display-none{
    display: none !important;
}
.display-block{
    display: block !important;
}
.btnPaginationDeactive{
    background-color: #ececec;
    color: white;
    cursor: not-allowed;
}