* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.0em;
}

.font_medium {
    font-size: 1.3em;
}

.title {
  font-size: 1.5em;
  margin-bottom: 5vh;
  text-align: center
}

.menu ul {
    list-style-type: none;
    background-color: #6A5ACD;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu a, button {
  width: 100%;
  color: #FFFFFF;
  display: block;
}

@media only screen and (max-width: 600px) {
  .menu li {
    width: 33.33%;
  }
}

@media only screen and (max-width: 300px) {
  .menu li {
    width: 100%;
  }
}

.menu a:hover {
    background-color: #191970;
}

.description {
    background-image: url(../Images/Art/description.jpg);
    background-size: cover;
    margin-bottom: 10vh;
    overflow: hidden;
}

.overlay {
    padding: 25vh 20vw;
    background-color: rgba(0,0,0,0.4);
    color: white;
    text-align: center;
}

.section {
  margin: 0 auto 10vh;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  text-align: center
}

.home_picture {
  width: 19%;
  height: auto;
  text-align: center;
  float: left;
  overflow: hidden;
  margin: 0 0.5%;
}

@media only screen and (max-width: 600px) {
  .home_picture{
    width: 59%;
    margin: 0 20%;
  }
}
.home_picture img{
  width: 100%;
  height: 30vh;
  object-fit: scale-down;
}

.home_picture p{
  margin: 0.5em auto;
}

.statistics {
  border: solid 1px #6A5ACD;
  padding: 3vh ;
  margin: 10vh auto 0;
  max-width: 600px
}

.statistics p {
  margin: 3vh 0;
}

.teamMember {
  width: 24%;
  padding: 2%;
  border: solid 1px #6A5ACD;
  text-align: center;
  float: left;
  margin: 0 0.5%;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .teamMember {
    width: 46%;
    margin: 0 2% 2% ;
  }
}

.face {
  padding: 30% 0%;
  margin: 0% 20% 10%;
  background-image: url(../Images/Team/davide_liu.jpg);
  background-size: cover;
}

.footer {
  background-color: #2F4F4F;
  padding: 1.0em;
  text-align: center;
  color: #FFFFFF;
}
