.Uploadsection form {
  padding: 1.0em;
  margin: auto;
}

.Uploadsection input[type="text"],
.Uploadsection input[type="file"],
.Uploadsection textarea,
.Uploadsection select {
  border: none;
  height: auto;
  margin: 0;
  padding: 1.0em;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 1.5em;
}

.Uploadsection button {
  width: 100%;
}

.Uploadsection label {
  display: block;
  margin-bottom: 0.5em;
}

.upload_message {
  text-align: center;
  color: red;
  padding: 0.5em;
  font-size: 1.5em;
}

.success_message {
  color: green;
}
